h2 {
    font-size: 36px;
}
h3 {
    font-size: 20px;
}

.main-title {
    h2 {
margin-bottom: 20px;
    }
    h3 {
        font-size: 18px;
        color: $blue;
        span {
            display: inline-block;
            border-bottom: 2px solid $blue;
            padding-bottom: 5px;
            text-transform: uppercase;
        }
    }
}