.activities {
    .titleBlock {
        margin-bottom: 60*$vw;
    }
    .row {
        div[class*="col-lg"]{
            &:nth-child(even)
            .row{
                &.m-0 {
                    @include breakpoint(sm) {
                        @include breakpoint(sm1) {
                            flex-direction: row-reverse;
                        }
                    }
                }
            }
        }
    }

    &__image {
        @include breakpoint (sm) {
            margin-bottom: 24px;
            height: calc(100% - 24px);
        }

        line-height: 0;

        img {
            min-height: 376*$vw;
            object-fit: cover;
            height: 100%;
        }
    }

    &__content {
        background: $white;
        padding: 30px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        height: calc(100% - 24px);
        // justify-content: center;
        box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.1);

        h3 {
            margin-bottom: 30px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
            font-weight: 400;
            font-size: 21px;

        }

        p {
            font-size: 14px;
            font-size: 13px;
            line-height: 2;
            line-height: 1.6;
        }

        .line {
            height: 2px;
            width: 50px;
            background: $theme-color;
            margin-top: 20px;
        }

        a {
            display: inline-block;
            padding: 10px 0;
            position: relative;
            font-size: 0;
            margin-top: 20px;
            color: transparent;
            width: 50px;
            @include transition(transform 0.5s);

            &:before {
                content: '';
                height: 2px;
                width: 50px;
                background: $theme-color;
                position: absolute;
                left: 0;
                @include transition(transform 0.5s);

            }

            &:hover {
                color: rgba($color: $theme-color, $alpha: 1);

                &:before {
                    @include transform(translateX(20px));
                }
            }
        }
    }
}