.banner {
    &__slider {
        overflow: hidden;

        &__item {
            position: relative;

            .image {
                position: relative;

                &:before {
                    background: $black;
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0.5;
                }

                img {
                    width: 100%;
                    height: calc(100vh - 150px);
                    // min-height: calc(100vh - 150px);
                    // height: 761*$vw;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .banner-caption {
                position: absolute;
                bottom: 50%;
                max-width: 1140px;
                padding: 15px;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: translateY(50%);

                h1 {
                    margin-bottom: 0px;
                    margin-top: 10px;
                    font-weight: 800;
                    letter-spacing: 5px;
                }
                span {
                    font-family: $secondaryFont;
                    letter-spacing: 5px;
                    font-size: 20px;
                    color: $theme-color;
                }

                .banner-title {
                    position: relative;
                    // padding: 30px;
                    // border-left: 5px solid #870707;
                    // margin-bottom: 20px;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        height: 5px;
                        width: 200px;
                        // background: #870707;
                        left: 0;
                    }

                    &:before {
                        top: 0;
                    }

                    &:after {
                        bottom: 0;
                    }
                }

                .banner-title,
                h1,
                p {
                    color: $white;
                }

                p {
                    max-width: 500px;
                }
            }
        }
    }
}