.btn {
min-width: 150px;
    text-transform: capitalize;
    &__red {
        @include btn-red;
        &:hover {
            // background: $pomegranate;
            color: $white;
        }
    }
    &__green {
        @include btn-green;
        &:hover {
            // background: $Greensea;
            color: $white;
        }
    }
    &__gray {
        @include btn-gray;
        &:hover {
            // background: $Midnightblue;
            color: $white;
        }
    }
    
}