.facilities {
    position: relative;

    &__bg {
        padding: 60*$vw;
        max-width: 900px;
        margin: 0 auto;
        background-color: rgba(228, 153, 141);
        background-image: url('../images/heroSlider/02.jpg');
        background-image: url('../images/hills-of-nepal.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;

        .wrapper {
            background: rgba($color: $white, $alpha: 1);
            padding: 60*$vw;

            .innerWrapper {
                padding: 60*$vw;
                border: 1px solid rgba($color: $lightDark, $alpha: 0.4);
                // margin-bottom: 60*$vw;

                p {
                    color: $black;
                }
            }

            h4 {
                margin: 5px 0 20px 0;
                font-weight: 600;
                text-transform: uppercase;
                color: $theme-color;
                font-size: 14px;
                letter-spacing: 0.2rem;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    position: relative;
                    padding-left: 25px;
                    font-size: 14px;
                    margin-top: 12px;
                    font-weight: 400;
                    letter-spacing: 0.05rem;

                    svg,i {
                        position: absolute;
                        left: 0;
                        top: 2px;
                        color: $theme-color;
                    }
                }
            }

        }
    }

    &__left {

        // padding: 30px;
        // background: $darkWhite;
        li {}
    }

    &__right {

        // padding: 30px;
        // background: $black;
        li {
            // color: $white;
        }
    }
}