

.farmHouse {
    padding: 100px 0;

    &__content {
        padding: 85*$vw;
        background: $white;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        // h2 {
        //     color: $black;
        //     text-transform: uppercase;
        //     letter-spacing: 0.5rem;
        //     font-size: 42px;
        //     margin-bottom: 20px;
        //     font-weight: 300;
        //     line-height: 1.5;
        // }
        // p {
        //     font-size: 16px;
        //     font-weight: 600;
        //     color: $theme-color;
        //     &:not(:last-child) {
        //         margin-bottom: 30px;
        //     }
        // }
        // a {
        //     background: $black;
        //     color: $white;
        //     text-decoration: none;
        //     padding: 20px;
        //     line-height: 1;
        //     text-transform: uppercase;
        //     letter-spacing: 0.25rem;
        //     max-width: 275px;
        //     width: 100%;
        //     @include transition(background 0.5s);
        //     &:hover {
        //         background: rgba($color: $black, $alpha: 0.8);
        //     }
        // }
    }

    &__imageBlock {
        line-height: 0;
        img {
            min-height: 450*$vw;
object-fit: cover;
        }
    }
}