

.mainFarm {
    padding: 100px 0;

    &__content {
        h2 {
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-size: 42px;
            margin-bottom: 20px;
            font-weight: 300;
            line-height: 1.5;
        }

        p {
            font-size: 16px;

            &:nth-of-type(1) {
                color: $theme-color;
                font-weight: 600;
            }

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        a {
            color: $black;
            text-decoration: none;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            @include transition(color 0.5s);
            font-weight: 500;
            position: relative;

            &:after {
                content: '';
                width: 45px;
                height: 2px;
                margin-left: 30px;
                background: rgba($color: $theme-color, $alpha: 1);
                display: inline-block;
                margin-bottom: 3px;
                @include transition(transform 0.5s);
            }

            &:hover {
                color: rgba($color: $theme-color, $alpha: 1);
                &:after {
                    @include transform(translateX(20px));
                }
            }
        }
    }
    &__imageBlock {
        position: relative;
        &__caption {
            font-style: italic;
            font-size: 18px;
            margin-top: 20px;
            letter-spacing: 0.05rem;
            font-family: 'Nothing You Could Do', cursive;
            color: $lightDark;
          }
    }
}