

.rooms {
    &__content {
        padding: 50*$vw;
        background: $white;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4 {
            color: $lightDark;
            font-family: "Nothing You Could Do", cursive;
            margin-top: 30px;
            font-size: 20px;
        }
    }
}