
.testimonial {
    position: relative;
    min-height: 300*$vw;
    display: flex;
    align-items: center;

    &__Item {
        // padding: 80*$vw 0;
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 80*$vw;
            width: 1px;
            left: 0;
            right: 0;
            margin: 0 auto;
            // background: $theme-color;
        }

        &:before {
            top: 0;

        }

        &:after {
            bottom: 0;
        }

        .content {
            max-width: 700px;
            margin: 0 auto;
        }

        h3 {
            font-style: italic;
            font-weight: 300;
            // color: $white;
            line-height: 1.5;
        }

        p {
            margin-top: 20px;
            font-family: "Nothing You Could Do", cursive;
            font-size: 24px;
            // color: $white;
        }
    }
}
