.footer {
    &__top {
        background: rgba($color: $black, $alpha: 0.85) url("../images/heroSlider/02.jpg");
        text-align: center;
        padding-bottom: 50px;
        position: relative;
        z-index: 10;
        padding: 80*$vw 0;
        background-size: cover;
        background-position: 50%;
        background-blend-mode: multiply;

        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background: rgba($color: $black, $alpha: 0.5);
            z-index: -1;
        }

        h2 {
            font-size: 36px;
            color: $white;
            font-weight: 600;
            line-height: 1.36;
            margin-bottom: 25px;
            text-transform: uppercase;
            letter-spacing: 0.05rem;

            @include breakpoint (xs) {
                font-size: 24px;

            }

        }

        p {
            color: $theme-color;
            font-weight: 600;
            line-height: 1.8;
            font-size: 14px;
            a {
                color: $theme-color;
            }
            span {
                color: rgba($color: $white, $alpha: 1);
                font-weight: 400;
                font-family: $secondaryFont;
                letter-spacing: 0.075rem;
            }
        }
    }

    .social {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                margin-right: 20px;

                a {
                    display: block;
                    color: rgba($color: $white, $alpha: 0.5);
                    font-size: 14px;
                    background: #2b3038;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 30px;
                    transition: all 1s;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }

    &__btm {
        background: $balck2;
        padding: 30px 0;

        .row {
            align-items: center;
        }

        .copyright {
            color: rgba($color: $white, $alpha: 0.5);
            letter-spacing: 0.05rem;
            font-weight: 600;
            font-size: 14px;
            text-align: right;

            @include breakpoint (xs) {
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }



    &__nav {
        position: relative;

        ul {
            margin: 0;
            padding: 0;
            // justify-content: center;

            @include breakpoint(sm) {
                display: flex;
            }

            @include breakpoint(xs) {
                text-align: center;
            }

            li {
                list-style: none;
                display: inline-flex;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                &.current-menu {
                    a {
                        color: $theme-color;
                    }

                }

                a {
                    text-decoration: none;
                    color: rgba($color: $white, $alpha: 0.5);
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 0.05rem;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }





}