.navbar {
  background: #fff;
  padding: 15px 0;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.1);

  &-collapse {
    @include breakpoint (sm1) {
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: white;
      padding: 20px;
      top: 144px;

      transform: translateX(-100%);
      @include transition(transform (0.5s));

      &.slide {
        transform: translateX(0);
      }
    }
  }
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: $theme-color !important;
  max-width: 180px;

}

.navbar .container {
  max-width: 1500px;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 90%;
  }
}

.slick-slider {
  overflow: hidden;
}



.navbar-nav li:not(:last-child) {
  margin-right: 20px;
}

.navbar-nav li a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .15rem;
  transition: all .5s;
  /* font-family: 'Montserrat', sans-serif; */
}

.navbar-nav li a.active,
.navbar-nav li a:hover {
  color: #d59b39 !important;
}


// hamberger menu animation
.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  @include transform(rotate(0deg));
  padding: 0;
  outline: none;
  border: none;
  @include transition(.5s ease-in-out);
  cursor: pointer;
  outline: none !important;

  .navbar-toggle-icon {
    background: $orange;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }

  &.on {
    .navbar-toggle-icon {
      &:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        @include transform(rotate(45deg));
      }

      &:nth-child(3) {
        @include transform(rotate(-45deg));
      }

      &:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
