.about-section {
    .globalHeading {
        em {
            font-family: $secondaryFont;
            color: $gray;
            font-size: 20px;
        }

        p {
            color: $black;
            font-weight: 300;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .image-block {
        margin-bottom: 40px;
    }

    .inner-row {
        .col-lg-12 {
            &:first-child {
                @include breakpoint (md) {
                    order: 2;
                }
            }
        }

        .image-block {
            margin-top: 40px;
        }
    }
}

.our-story {
    .globalHeading {
        em {
            font-family: $secondaryFont;
            color: $gray;
            font-size: 20px;
        }

        p {
            color: $black;
            font-weight: 300;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .image-block {
        @include breakpoint (sm1) {
            margin-top: 30px;
        }
    }
}

.family {
    &__block {
        margin-top: 30px;
        position: relative;
        overflow: hidden;

        &:hover {
            .family__figure {
                &:after {
                    opacity: 1;
                }
            }

            .family__caption {
                background: linear-gradient(rgba($color: $black, $alpha: 0), rgba($color: $black, $alpha: 0.6));
                transform: translateY(0);

                p {
                    opacity: 1;
                }
            }
        }
    }

    &__figure {
        position: relative;
        overflow: hidden;



        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 50%;
            content: " ";
            opacity: 1;
            z-index: 1;
            -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            -khtml-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            -ms-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            background-color: transparent 0%;
            background-image: -webkit-gradient(linear, left top, left bottom, from(transparent 0%), to(rgba(0, 0, 0, 0.9) 50%));
            background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 50%);
            background-image: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 50%);
            background-image: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 50%);
            background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 50%);
            background-image: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 50%);

        }

        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            content: " ";
            opacity: 0.5;
            background: rgba($color: $black, $alpha: 0.6);
            @include transition (opacity 0.75s);

        }
    }

    &__caption {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        padding: 30px;
        z-index: 100;
        background: linear-gradient(rgba($color: $black, $alpha: 0), rgba($color: $black, $alpha: 0.8));
        @include transform (translateY(55%));
        @include transition (transform 0.75s);
        // transition: transform 1s;

        .top-title {
            color: $theme-color;
            font-family: $secondaryFont;
        }

        h3,
        p {
            color: $white;
        }

        h3 {
            margin: 12px 0;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .25rem;
            font-size: 16px;
        }

        p {
            font-size: 14px;
            opacity: 0;
            @include transition (opacity 0.75s);
            font-weight: 300;
        }
    }
}