.features {
    &-block {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 30px;
        }

        .title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 3px;
            margin-left: 15px;
        }
    }
}

// price
.price {
    &__block {
        margin-top: 40px;

        .table {
            margin-bottom: 0;
            border: 1px solid #ededed;

            thead {

                th {
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $theme-color;
                    letter-spacing: 3px;
                }
            }

            td,
            th {
                border: 1px solid #ededed;
                font-weight: 400;
                // font-size: 14px;
                padding: 20px;

                span {
                    font-family: $secondaryFont;
                    color: $lightDark;
                }
            }
        }
    }
}

.gallery {
    &__block {
        margin: 15px 0;


    }
}

.amenities {
    &__block {
        padding: 60*$vw;

        h4 {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin: 15px 0;
                font-size: 14px;
                position: relative;
                padding-left: 60px;
                &:before {
                    content: '';
                    height: 1px;
                    width: 30px;
                    position: absolute;
                    left: 0;
                    background: $theme-color;
                    top: 11px;
                }
            }
        }
    }

    &__white {
        background: $white;

        h4 {
            color: $theme-color;
        }
    }

    &__black {
        background: $black;
        ul {
            li {
                color: $white;
            }
        }

        h4 {
            color: $white;
        }
    }
}