.banner {
    &--contact {
        .banner__slider__item {

            // height: 450*$vw;
            // overflow: hidden;
            // display: flex;
            // align-items: center;
            img {
                @include breakpoint (lg) {
                    height: 600*$vw;
                }
            }
        }
    }
}

.contact-address {
    .card {
        padding: 40px;
        text-align: center;
        margin: 15px 0;
        border: none;
        p {
            font-size: 14px;
            span {
                color: $gray;
                font-family: $secondaryFont;
            }
            a {
                color: $theme-color;
                text-decoration: none;
                @include transition (0.5s);
                font-weight: 600;
                &:hover {
                    color: $gray;
                    color: $darkGray;
                }
            }
        }

        .icon {
            height: 100px;
            width: 100px;
            // background: #fafafa;
            color: #2b3038;
            line-height: 100px;
            margin: 0 auto 30px;
            border-radius: 50%;
            font-size: 50px;
            box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.1);
        }

        h3 {
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.1rem;
            margin-bottom: 20px;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.contact-form {
    margin-top: 50px;

    .form-group {
        margin-bottom: 30px;

        .form-control {
            height: 55px;
            border-radius: 0;
            border: none;
            background: #fafafa;
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            padding: 15px;

            @include placeholder {
                opacity: 1;
                color: rgba($color: $black, $alpha: 0.3);
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

        }

        textarea {
            &.form-control {
                height: 150px;
                resize: none;
            }
        }
    }

    .btn {
        background: $black !important;
        color: $white;
        text-decoration: none;
        padding: 20px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        max-width: 275px;
        width: 100%;
        display: block;
        text-align: center;
        @include transition(background 0.5s);
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        @include border-radius(0);

        &:hover {
            background: rgba($color: $black, $alpha: 0.8) !important;
        }
    }
}

.map-section {
    height: 500px;
    overflow: hidden;
    iframe {
        height: 500px;
        width: 100%;
        border: 0;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        /* Firefox 10+ */
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(99%);
        /* Chrome 19+ & Safari 6+ */
        -webkit-backface-visibility: hidden;
        /* Fix for transition flickering */
    }
}