
.masonary-grid {
    min-height: 500px;
    padding: 50px 0;

    ul.grid {
        margin: 0 -7px;
        padding: 0;

        li {
            list-style: none;
            float: left;
            padding: 0 2px;

            @include breakpoint (sm) {
                width: 33.3333%
            }

            .project-item {
                background: $white;
                box-shadow: 0 0 10px rgba($black, 0.14);
                margin-top: 4px;
                @include border-radius(3px);
                position: relative;
                min-height: 150px;

                img {
                    width: 100%;
                }

                .play-icon {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    top: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    a {
                        display: block;
                    }

                    img {
                        height: auto;
                        width: auto;
                    }
                }

                .project-caption {
                    padding: 15px;
                    // position: absolute;
                    // bottom: 0;
                    // background: rgba($white, 0.85);
                    // width: 100%;

                    p {
                        font-size: 13px;
                        // display: none;
                    }

                    a {

                        color: $black;
                        font-size: 18px;
                        letter-spacing: 0.007rem;
                        display: block;
                        font-weight: 700;
                        text-align: right;
                        text-transform: capitalize;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}


.filter-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: 20px;

    li {
        cursor: pointer;
        margin: 0 20px;
        padding: 5px 0;
        list-style: none;
        display: inline-block;
        text-transform: capitalize;
        border-bottom: 2px solid transparent;

        &.active,
        &:hover {
            // color: $pomegranate;
            border-bottom: 2px solid currentColor;
        }
    }
}
.masonary-grid ul.grid {
    opacity: 0;
}
.loader {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 10;
    text-transform: uppercase;
    padding: 30px 15px;
}
