.single-card-block {}

.single-page-banner {
    .banner__slider__item {
        .image {
            img {
                height: 50vh;
            }
        }
    }

}

#accordion {
    .card {
        margin-bottom: 10px;
        border-radius: 0;
    }

    .card-header {
        padding: 0;
        border: none;
    }

    .btn-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 12px;
        background: #fafafa;
        border-radius: 0;
        color: $black;
        text-decoration: none;

        &:after {
         
            content: "\f106";
            font-family: 'FontAwesome';
            float: right;
        }

        &.collapsed {
            &:after {
                content: "\f107";
            }
        }
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.highlights{
    .globalHeading {
        p {
            font-size: 14px;
            font-weight: 400;
            color: #000;
            line-height: 2;
          }
    }
    ul {
        li {
            margin: 15px 0;
            font-size: 14px;
          }
    }
}